# Build and Release Folders
build/
tmp/
fms/bin/
fms/shared
fms/site

# Files created during a build
MOM6_ALE/build_ale/Makefile
fms_build/Makefile

# Additional
.*
path_names*
pt_orig*
*~
*.a
*.o
*.mod
*.so
*.pyc
*.pyf

